# OS
.DS_Store
Thumbs.db

# Secrets & env
.env
.env.*
*.pem
*.key

# Dependencies
node_modules/
**/node_modules/

# Build outputs
dist/
**/dist/

# Logs
*.log
npm-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/
*.swp

# Docker
.docker/